button {
  margin: 1%;
}

h2 {
  margin: 1%;
}

.energy-system-card {
  margin: 1%;
  background-color: gray;
}

#es-name {
  font-size: larger;
}

#es-id {
  font-size: smaller;
}

.row {
  margin: 1%;
}

#delete-button {
  position: absolute;
  right: 1px;
  bottom: 5px;
}

#edit-button {
  position: absolute;
  right: 85px;
  bottom: 5px;
}

#stat-button {
  position: absolute;
  right: 160px;
  bottom: 10px;
}
