button {
  margin: 1%;
}

h2 {
  margin: 1%;
}

.energy-system-card {
  margin: 1%;
  background-color: gray;
}

#es-id {
  font-size: x-large;
}

.row {
  margin: 1%;
}

#delete-button {
  position: absolute;
  right: 1px;
  bottom: 5px;
}

#edit-button {
  position: absolute;
  right: 85px;
  bottom: 10px;
}
