<div *ngIf="energySystem">
  <mat-card>
    <mat-card-title>
      {{ energySystem.name }}
    </mat-card-title>
    <app-edit-entity
      [entity]="energySystem"
      [disabledFields]="[
        'energySystemId',
        'userId',
        'region',
        'createdAt',
        'updatedAt'
      ]"
      [tooltips]="energySystemAttributesDescription"
    ></app-edit-entity>
    <button mat-raised-button color="primary" (click)="onSave(energySystem)">
      Save
    </button>
  </mat-card>
</div>
