<div *ngIf="energySystem">
  <mat-card>
    <mat-card-title>
      {{ energySystem.name }}
    </mat-card-title>
    <div
      id="es-attribute-keys"
      *ngFor="
        let attribute of energySystem.valueOf() | keyvalue;
        trackBy: customTrackBy
      "
    >
      <mat-form-field>
        <mat-label>{{ attribute.key }}</mat-label>
        <input
          matInput
          [disabled]="
            ['energySystemId', 'userId'].indexOf(attribute.key.toString()) >= 0
          "
          id="{{ attribute.key }}"
          [(ngModel)]="energySystem[attribute.key]"
        />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="onSave(energySystem)">
      Save
    </button>
  </mat-card>
</div>
